{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "outDir": "dist",
    "allowJs": false,
    "declaration": true,
    "noEmit": false,
    "composite": true
  },
  "include": ["src/**/*"],
  "exclude": ["src/**/*.test.ts", "tests/**/*", "**/*.spec.ts"]
}